<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/about.css" />
    <script
    src="https://kit.fontawesome.com/b5e3d605df.js"
    crossorigin="anonymous"
    ></script>
    <title>About As</title>
</head>
<body>
    <h1>About As</h1>
    <p><strong>Shan-Yun, Wang</strong></p>
        <ul>
            <li>swang308@myseneca.ca</li>  
            <li><a href="https://www.linkedin.com/in/shanyun-wang-2294031ab/"><i class="fab fa-linkedin"></i>Linkin</a></li>
            
        </ul>

    <p><strong>Hsien-Ting Liao</strong></p>
        <ul>
            <li>hliao25@myseneca.ca</li>
            <li><a href="https://www.linkedin.com/in/doris-hsien-ting-liao"><i class="fab fa-linkedin"></i>Linkin</a></li>
        </ul>

    <p><strong>Rong Chen</strong></p>
        <ul>
            <li>rchen104@myseneca.ca</li>
            <li><a href="https://www.linkedin.com/in/rong-chen-8538a2281/"><i class="fab fa-linkedin"></i>Linkin</a></li>
        </ul>
    <h2>Reference</h2>
    <ul>
        <li>https://icons8.com/i</li>
    </ul>
</body>
</html>