<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentRightly</title>
  <link rel="stylesheet" href="/public/css/style.css">

  <!-- icon -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="html" href="traffic.html">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b5e3d605df.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <nav class="navbar nav-2">
      <section class="flex">
        <ul>
          <li>
            <a href="/views/index.html" class="logo">RentRightly</a>
          </li>
          <li><a href="rental-information.html">Rental ▼</a>
            <ul>
              <li><a href="rental-information.html#tenant">Tenant</a></li>
              <li><a href="rental-information.html#landlord">Landlord</a></li>
              <li><a href="rental-information.html#contract">Contract</a></li>
            </ul>
          </li>
          <li><a href="subsidy.html">Canada Housing Benefit ▼</a>
            <ul>
              <li><a href="subsidy.html#electricity">Electricity bill</a></li>
              <li><a href="subsidy.html#tax">Tax return</a></li>
            </ul>
          </li>
          <li><a href="Traffic.html">Traffic and Livelihood ▼</a>
            <ul>
              <li><a href="Traffic.html#safety">Safety</a></li>
              <li><a href="Traffic.html#distance">Navigating the School</a></li>
              <li><a href="Traffic.html#livelihood">Livelihood</a></li>
            </ul>
          </li>
          <li><a href="about.html">About Us</a></i></li>
        </ul>
      </section>
    </nav>
  </header>

  <main>
    <section id="sectionOne">
      <h1 class="h1">What we are Considered?</h1>
      <p class="p">As international students ourselves, we understand firsthand the challenges and uncertainties that
        come with finding suitable housing in Canada for the first time. Driven by our own experiences and the desire to
        make this journey smoother for others like us, we decided to create a website. Our goal is to empower fellow
        international students with knowledge, resources, and support, enabling them to navigate the Canadian rental
        market with confidence and ease. We envision a platform where students can find not just a place to stay, but a
        home where they can thrive during their academic journey in this beautiful country.
      </p>
    </section>
    <section id="sectionSec">
      <h2 class="h2">Main Concepts</h2>
      <div id="card-container">
        <div class="card">
          <img src="/public/img/rentalInformation.jpg" alt="living room">
          <h3>Rental Information</h3>
          <p class="p">Rental information typically encompasses a wide range of details and guidelines relevant to the
            process of renting property. This information is vital for both landlords (property owners) and tenants
            (renters) as it helps them understand their rights, responsibilities, and the legalities involved in a
            rental agreement.</p>
        </div>

        <div class="card">
          <img src="/public/img/subsidy.jpg" alt="">
          <h3>Canada Housing Benefit</h3>
          <p>In Canada, housing benefits include subsidies to help low-income families and individuals afford safe and
            suitable housing, reducing rent to a manageable portion of their income. Additionally, homeowners and
            renters may receive tax refunds or credits, such as the GST/HST New Housing Rebate and various provincial
            credits, to assist with housing costs and property taxes.</p>
        </div>

        <div class="card">
          <img src="/public/img/traffic.jpg" alt="">
          <h3>Traffic and Livelihood</h3>
          <p>Traffic and rental housing are two essential aspects that significantly impact student life. As students
            navigate their academic journey, they often encounter the challenges posed by traffic congestion and the
            search for suitable housing accommodations. The campus's location in a bustling urban area means that
            traffic patterns can affect commute times and accessibility to campus facilities.</p>
        </div>
      </div>
    </section>
    <section id="sectionThird">
      <h2 class="h2">Team Members</h2>
      <div id="name-container">
        <div class="name-card">
          <div>
            <img src="/public/dev-img/abby.jpg" alt="abby">
          </div>
          <div class="name-div">
            <h4>Abby</h4>
            <p>Team Leader, Developer</p>
          </div>
        </div>
        <div class="name-card">
          <div>
            <img src="/public/dev-img/doris.jpg" alt="doris">
          </div>
          <div class="name-div">
            <h4>Doris</h4>
            <p>Designer, Developer</p>
          </div>
        </div>
        <div class="name-card">
          <div>
            <img src="/public/dev-img/elisa.jpg" alt="elisa">
          </div>
          <div class="name-div">
            <h4>Elisa</h4>
            <p>Creator, Developer</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <section>
      <div class="box">
        <a href="#"><i class="fa-solid fa-phone"></i><span>7788586257</span></a>
        <a href="#"><i class="fa-regular fa-envelope"></i><span>hliao25@myseneca.ca</span></a>
        <a href="https://www.senecapolytechnic.ca/"><i class="fa-solid fa-location-dot"></i><span>1750 Finch Ave E,
            North York</span></a>
      </div>

      <div class="box">
        <a href="/views/about.html"><span>About</span></a>
        <a href="#"><span>Home</span></a>
        <a href="#"><span>List</span></a>
        <a href="#"><span>More</span></a>

      </div>

      <div class="box">
        <a href="#"><i class="fab fa-facebook-f"></i><span>facebook</span></a>
        <a href="#"><i class="fab fa-twitter"></i><span>twitter</span></a>
        <a href="#"><i class="fab fa-linkedin"></i><span>linkedin</span></a>
        <a href="#"><i class="fab fa-instagram"></i><span>instagram</span></a>
      </div>
    </section>

    <div class="credit">&copy; copyright @ 2024 by <span>Seneca Hackthon</span> | all rights reserved!</div>
    <form id="newsletter" action="https://httpbin.org/post" method="post">
      <label for="email"><i class="fa-solid fa-paper-plane"></i>&nbsp;&nbsp;Join OurNewsletter!</label><br />
      <div class="email-form">
        <input id="email" type="email" name="email" placeholder="happy@youremail.com" />
        <button class="newsletter" type="submit">
          <i class="fa-solid fa-paper-plane"></i>Send
        </button>
      </div>
    </form>
  </footer>
</body>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Select all dropdown toggle elements
    const dropdownToggles = document.querySelectorAll('.navbar a[href="#"]');

    // Add click event listener for each toggle
    dropdownToggles.forEach(function (toggle) {
      toggle.addEventListener('click', function (event) {
        event.preventDefault();
        const dropdownMenu = this.nextElementSibling;
        if (dropdownMenu.style.display === 'block') {
          dropdownMenu.style.display = 'none';
        } else {
          dropdownMenu.style.display = 'block';
        }
      });
    });
  });
</script>

</html>