<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/subsidy.css" />
    <script
    src="https://kit.fontawesome.com/b5e3d605df.js"
    crossorigin="anonymous"
    ></script>
    <title>Canada Housing Benefit</title>
</head>
<body>
    <h1>Canada Housing Benefit</h1>
        <p class =h1p>
            "Students facing the financial strain of renting can find relief through tailored rental insurance. 
            These policies cover personal belongings, liability, and temporary living expenses in case of rental 
            damage. By securing such insurance, students mitigate financial risks, focusing more on studies without worrying about rental fees or unexpected events."
        </p>

    <section id="electricity">
      <h2>Electricity bill</h2>
        <div class="ele">
            <a href="https://ontarioelectricitysupport.ca/"> Ontario Electricity Support Program (OESP)</a>
            <h3>What is Ontario Electricity Support Program?</h3>
                <p class="h3p">
                The OESP will reduce the cost of your household electricity by applying a monthly credit directly to your bill. 
                The credit amount will depend on how many people live in your home and your combined household income.
                This is for lower income family, also the <strong>international student can also apply. </strong>
                If you new application Just <a href="https://ontarioelectricitysupport.ca/"> Click</a> and following the steps as below immediately!
                </p>

            <h3>What happens after you apply?</h3>
                <p class="h3p">
                You will be notified of your eligibility for OESP approximately 4 to 6 weeks after we receive and review your completed application 
                and signed consent forms. Upon approval, the credit will be applied directly to your electricity bill in approximately 6 to 8 weeks. 
                If approved, you will receive OESP credits on your bill for a duration of 2 years before needing to reapply, or 5 years if you are aged 65+ or receiving a CPP disability pension.
                </p>

            <h3>How to apply?</h3>
                <ul>
                    <li><strong>Step 1: Click</strong> <a href="https://ontarioelectricitysupport.ca/"> Ontario Electricity Support Program (OESP)</a><br> 
                        <img class ="h3i"src="/public/img/OESP.jpg" width="700"></img>
                    </li>
                    <br> 
                    <li><strong>Step 2: fill out </strong> the total member and annual income( if students don't have any income, can just write 0)   
                        <br> 
                            <img class ="h3i"src="/public/img/oesp2.jpg" width="700"></img>
                        <br> 
                    </li>
                    <br>
                    <li><strong>Step 3:</strong> if you don't filed taxes before, you should connect with the specialist<br>
                            Find the nerby place where intake OESP program<br>
                            <img class ="h3i"src="/public/img/oesp3.jpg" width="700"></img>
                        <br> 
                    </li>
                    <li><i class="fa-solid fa-exclamation"></i> <strong>Reminder to prepare the document:</strong> 
                        <ul>
                            <li>-Passport or offical document about yourself</li>
                            <li>-The bill of Toronto Hydro</li>
                        </ul>
                        
                    </li>
                </ul>
                From: <a href="https://www.oeb.ca/consumer-information-and-protection/bill-assistance-programs/ontario-electricity-support-program">Ontario Electricity Support Program</a>
        </div>
    </section>
      

    <section id="tax">
        <h2>Tax return</h2>
        <p class="h2p">
            If you are a student or a low-income individual, you may be eligible for tax credits or deductions. 
                These credits or deductions can help reduce the amount of tax you owe.
        </p>

        <h3>File income tax  </h3>
            <p class="h3p">
                In Canada, income tax is administered by the Canada Revenue Agency (CRA). The tax year runs from January to December each year and the deadline to file
                an income tax return is April 30 the following tax year.
            </p>
        <h3>What do we need</h3>
            <ul>
                <li>a Social Insurance Number (SIN)</li>
                <li>an Individual Tax Number (ITN) if not have SIN</li>
            </ul>
        <h3>Which tax bentifit</h3>
            <div id="container">
                <div class="card">
                    <figure>
                        <img src="/public/img/tution.jpg" alt="tution"/>
                        <br />
                        <figcaption>By varthana</figcaption>
                     </figure>
                    <h3>Tution tax credit</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
                    <p>The tuition tax credit allows eligible students to claim a portion of their tuition fees paid as a tax credit.</p>
                    <p>This credit helps students reduce their tax liability and provides financial assistance for education-related expenses.</p>                </div>
        
                <div class="card">
                    <figure>
                        <img src="/public/img/gsthst.jpg" alt="GST/HST">
                        <figcaption>By kalfalaw</figcaption>
                    </figure>
                    <h3>GST/HST</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, incidunt.</p>
                    <p>The Goods and Services Tax (GST) and Harmonized Sales Tax (HST) are consumption taxes imposed on most goods and services in Canada.</p>
                    <p>Individuals can claim input tax credits (ITCs) to recover GST/HST paid on business expenses.</p>
                </div>
        
                <div class="card">
                    <figure>
                        <img src="/public/img/rental.jpg" alt="Rental">
                        <figcaption>By trulia</figcaption>
                    </figure>
                    <h3>Rental</h3>
                    <p>Rental assistance programs provide financial support to individuals and families struggling to afford housing costs.</p>
                    <p>These programs may offer subsidies, vouchers, or direct payments to help student cover the high rent expenses.</p>
                </div>

                <div class="card">
                    <figure>
                    <img src="/public/img/climate.jpg" alt="Climate Action Incentive">
                        <figcaption>By wealth Awesome</figcaption>
                        </figure>
                    <h3>Climate Action Incentive</h3>
                    <p>The Climate Action Incentive is a government program designed to encourage individuals and businesses to adopt eco-friendly practices and reduce their carbon footprint.</p>
                    <p>Participants in this program may receive financial incentives, tax credits, or other benefits for implementing energy-efficient technologies, reducing waste, or investing in renewable energy sources.</p>
                </div>
            </div>

            <h3>How to get income tax  return</h3>
            <p class="h3p">
                Click <a href="https://www.canada.ca/en/revenue-agency/services/tax/international-non-residents/individuals-leaving-entering-canada-non-residents/international-students-studying-canada.html">Taxes for International students studying in Canada</a>
            </p>
    </section>
    
</body>
</html>