<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traffic</title>
  <link rel="stylesheet" href="/public/css/traffic.css" />
  <script src="https://kit.fontawesome.com/b5e3d605df.js" crossorigin="anonymous"></script>
</head>

<body>
  <h1>Traffic and Livehood</h1>
  <p class="h1p">Traffic and rental housing are two essential aspects that significantly impact student life. As
    students navigate their academic journey, they often encounter the challenges posed by traffic congestion and the
    search for suitable housing accommodat
  <section id="electricity">
    <h2 id="safety">Safety</h2>
    <iframe src="https://experience.arcgis.com/experience/8b6ccb72c2cf4861ae9c816d6a1bf1c4/" width="100%" height="400" style="border:0;"></iframe>

    <h3>Housing and Community Safety</h3>
    <p>
      Toronto's housing landscape reflects ownership and rental markets, with 66% of households owning their homes.
      However, housing affordability remains a concern, as one in three Toronto households spends 30% or more of their
      income on shelter costs, surpassing provincial and national averages.
      Community safety and a sense of belonging are crucial aspects of urban life. While 36% of Toronto residents
      express
      satisfaction with their safety from crime, concerns linger, with 22% perceiving social disorder as a significant
      issue in their neighborhoods. Additionally, the city grapples with discrimination-related challenges, with 17% of
      residents experiencing such incidents over six years.
    </p>
    <h3>Crime and Safety Profile</h3>
    <p>The safety report meticulously examines crime statistics to paint a nuanced picture of Toronto's safety
      landscape.
      While Toronto's police-reported crime rate experienced a 15% decline over a decade, challenges persist,
      particularly
      in violent crime categories such as homicides, where the city experienced an increase between 2017 and 2018.
      Notably, Toronto witnesses a higher rate of hate crimes compared to provincial and national averages, underscoring
      the need for ongoing efforts to foster inclusivity and combat discrimination. Moreover, intimate partner violence
      remains a concern, albeit showing a decline in reported incidents.
    </p>
    <h3>Conclusion</h3>
    <p>In conclusion, Toronto's safety report offers a multifaceted exploration of the city's demographic diversity,
    socio-economic dynamics, and crime landscape. While the town boasts strengths in education and cultural vibrancy,
    housing affordability and community safety challenges warrant continued attention and collaborative efforts from
    stakeholders. Through comprehensive data analysis and strategic interventions, Toronto endeavors to maintain its
    status as a safe and inclusive city for all residents and visitors.</p>
  </p>
  </section>
  <section id="electricity">
    <h2 id="distance">Distance to school</h2>
    <p>For many students, one of the essential considerations when choosing a school is the ease of commute. Seneca
      Polytechnic's Newnham Campus, located in Toronto, Canada, offers a range of programs attracting students from
      various parts of the city. However, with the vastness of Toronto and the intricacies of public transportation,
      finding the best route to reach the campus can take time and effort. Fear not! In this guide, we'll explore the
      different bus routes available to access Seneca Polytechnic Newnham Campus, focusing on routes 39, 339, 939A,
      939B,
      and 939C.</p>
    <h3>Understanding the Bus Routes</h3>
    <ul>
      <li><h4>Bus Route 39</h4></li>
      <p>This route directly links Seneca Polytechnic Newnham Campus from various parts of the city. Whether you're
        coming
        from Scarborough, Finch Station, or York University, bus 39 provides convenient access to the campus.</p>
      <li><h4>Express Routes (339, 939A, 939B, 939C)</h4></li>
      <p>These express routes are designed to expedite travel, making them ideal for students with longer commutes or
        those residing farther away from the campus. They offer limited stops, ensuring a quicker journey to Seneca
        Polytechnic Newnham Campus.</p>
    </ul>
    <h3>Other Alternative Routes</h3>
    <ul>
      <li><h4>Bus Routes 25A and 25C</h4></li>
      <p>While not directly leading to the Newnham Campus, these routes can be utilized in combination with other
        transit
        options to reach the campus. They provide access to nearby areas, allowing for seamless transfers to routes
        heading towards Seneca.</p>
      <li><h4>Bus Routes 090, 090B, 325, and 925</h4></li>
      <p>These routes offer additional options for students, depending on their starting point within the city. By
        consulting the transit map and schedules, students can determine the most efficient combination of routes to
        reach
        Seneca Polytechnic Newnham Campus.</p>
    </ul>
    <p>Navigating the distance to Seneca Polytechnic Newnham Campus may seem daunting at first, but with the plethora
      of
      bus routes available, students have several convenient options for reaching their destination. Whether you opt
      for
      the direct route of bus 39 or utilize express routes like 339, 939A, 939B, and 939C, careful planning and a bit
      of
      exploration can ensure a smooth and hassle-free commute to campus. So, gear up, plan your route, and get ready
      to
      embark on your educational journey at Seneca Polytechnic!</p>
  </section>
  <section id="electricity">

    <h2 id="livelihood">Livehood Recommend</h2>
    <iframe src="https://my.atlist.com/map/8e7290ea-3d06-4bac-a23b-412abe5299fc?share=true" allow="geolocation 'self' https://my.atlist.com" width="100%" height="400px" loading="lazy" frameborder="0" scrolling="no" allowfullscreen id="atlist-embed"></iframe>

    <h3>Don Mills neighborhood</h3>
    <ul>
      <li><h4>Accessibility</h4></li>
      <p>Don Mills is well-connected to public transportation, including bus routes and the Don Mills subway station
        on
        Line 4 of the Toronto subway system. This makes it convenient for students, faculty, and residents to commute
        to
        and from the campus and other parts of the city.</p>
      <li><h4>Housing Options</h4></li>
      <p>The Don Mills area provides a range of housing options, including apartments, townhouses, and single-family
        homes. While housing affordability is a concern in Toronto overall, Don Mills may offer relatively more
        affordable
        options compared to some other neighborhoods closer to the city center.</p>
      <li><h4>Community Amenities</h4></li>
      <p>Don Mills has amenities such as shopping centers (e.g., Shops at Don Mills), parks (e.g., Edwards Gardens),
        recreational facilities, and dining options. These amenities contribute to the quality of life for residents
        and
        provide opportunities for leisure and social activities.</p>
      <li>Safety Considerations</li>
      <p>While safety concerns exist in urban areas, Don Mills generally has a reputation for being a safe and
        family-friendly neighborhood. However, as with any urban area, it's essential for residents and stakeholders
        to
        remain vigilant and proactive in addressing safety issues.</p>
    </ul>
    <h3>Finch-Leslie neighborhood</h3>
    <ul>
      <li><h4>Accessibility</h4></li>
      <p>Finch-Leslie is located in close proximity to Seneca Polytechnic Newnham Campus, making it convenient for
        students,
      <li><h4>Housing Options</h4></li>
      <p>The neighborhood offers a mix of housing options, including single-family homes, townhouses, and apartment
        buildings. This diversity caters to the needs of individuals and families, providing a range of affordable
        living
        arrangements within the vicinity of the campus.</p>
      <li><h4>Community Amenities</h4></li>
      <p>Finch-Leslie features various community facilities such as parks, recreational centers, and libraries. These
        amenities contribute to the overall quality of life in the area, offering opportunities for leisure
        activities,
        physical fitness, and cultural enrichment.</p>
      <li><h4>Safety Considerations</h4></li>
      <p>While addressing safety concerns is essential in any neighborhood, Finch-Leslie benefits from being a
        relatively
        safe and well-maintained community. Collaborative efforts between residents, local authorities, and community
        organizations can further enhance safety measures and foster a secure living environment.</p>
    </ul>

    <h3>Willowdale neighborhood</h3>
    <ul>
      <li><h4>Accessibility</h4></li>
      <p>Willowdale is situated in close proximity to Seneca Polytechnic Newnham Campus, making it convenient for
        students, faculty, and staff to access the campus. Its location along Yonge Street ensures easy transportation
        options and a relatively short commute.</p>
      <li><h4>Housing Options</h4></li>
      <p>The Willowdale neighborhood offers a mix of housing options, including condominiums, townhouses, and
        single-family homes. This diversity caters to the needs of different demographics, including students, young
        professionals, families, and retirees.</p>
      <li><h4>Community Amenities</h4></li>
      <p>Yonge Street in Willowdale is bustling with amenities, including shopping centers, restaurants, cafes, and
        entertainment venues. Residents have access to a wide range of services and recreational activities, enhancing
        their quality of life.</p>
      <li><h4>Safety Considerations</h4></li>
      <p>Willowdale is known for its safety and community engagement initiatives. Residents actively participate in
        neighborhood associations and watch programs, contributing to a sense of security and belonging.</p>
    </ul>
    <h3>Don Valley Village neighborhood</h3>
    <ul>
      <li><h4>Accessibility</h4></li>
      <p>Don Valley Village is located within a short distance from Seneca Polytechnic Newnham Campus, making it
        convenien
      <li><h4>Housing Options</h4></li>
      <p>The neighborhood offers a diverse range of housing options, including apartments, condominiums, townhouses,
        and
        single-family homes. This variety accommodates different preferences and budgets, providing opportunities for
        individuals, families, and students to find suitable living arrangements.</p>
      <li><h4>Community Amenities</h4></li>
      <p>Don Valley Village features various community amenities such as parks, recreational facilities, shopping
        centers,
        and restaurants. These amenities contribute to the quality of life in the area, offering opportunities for
        leisure, recreation, and socialization for residents of all ages.</p>
      <li><h4>Safety Considerations</h4></li>
      <p>While safety concerns exist in any urban area, Don Valley Village benefits from being a relatively safe and
        well-maintained neighborhood. Collaborative efforts between residents, local authorities, and community
        organizations help maintain safety and security within the community.</p>
    </ul>
  </section>
</body>

</html>